{% extends 'page/base.html' %}

{% block body %}

    <div class="jumbotron">
        <div class="container text-center">
             <h2 class="page-header">PRODUCT DETAILS</h2>
        <p class="lead"><i class="fa fa-quote-left orange-title" aria-hidden="true"></i> More details about the product <i class="fa fa-quote-right orange-title" aria-hidden="true"></i> </p>
        </div>
	</div>

    <div class="container well well-pd">
	    <div class="row">
			<div class="col-md-4 extend-div">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="{{ item.pic }}" class="img-responsive img-circle img-circle-fixed" alt="">
	                </center>
	            </div>
	        </div>
	        <div class="col-md-8">
				<div class="caption-pd text-center">
	                <p class="font-bold align-middle">{{ item.title }}</p>
	            </div>
	            <div class="pricing-feature-list">
	                <ul class="list-group">
                      <div class="block-main ecomm-style"><li class="list-group-item"><i class="fa fa-shopping-cart orange-title"></i><span class="orange-title"> E-commerce:</span><br><span class="regular-font">{{ item.page }}</span></li></div>
                      <div class="block-main price-style"><li class="list-group-item"><i class="fa fa-usd orange-title"></i><span class="orange-title"> Price:</span><br><span class="regular-font">{{ item.price }}</span></li></div>
                      <div class="block-main condition-style"><li class="list-group-item"><i class="fa fa-bolt orange-title"></i><span class="orange-title"> Condition:</span><br><span class="regular-font">{{ item.condition }}</span></li></div>
                      <div class="block-main avg-style"><li class="list-group-item"><i class="fa fa-bar-chart orange-title"></i><span class="orange-title"> Average rating:</span><br><span class="regular-font">{{ item.rating }}</span></li></div>
                      <div class="block-main sellrate-style"><li class="list-group-item"><i class="fa fa-user orange-title"></i><span class="orange-title"> Seller rating:</span><br><span class="regular-font">{{ item.seller_rate }}</span></li></div>
					  <div class="block-main ship-style"><li class="list-group-item"><i class="fa fa-truck orange-title"></i><span class="orange-title"> Shipping:</span><br><span class="regular-font">{{ item.shipping }}</span></li></div>
                      <div class="block-main details-style"><li class="list-group-item"><i class="fa fa-list-alt orange-title"></i><span class="orange-title"> Details:</span><br><span class="regular-font">{{ item.detail }}</span></li></div>
                      <div class="feedback-style"><li class="list-group-item"><i class="fa fa-users orange-title"></i><span class="orange-title"> Feedback from customers :</span></li> </div>
                        {% for feedback in item.feedback_set.all %}
                        <ul class="list-group">
                          <li class="block-main list-group-item regular-font"><i class="fa fa-circle orange-dot"></i> {{feedback.comment}}</li>
                        </ul>
                        {% endfor %}
                    </ul>
	            </div>
	        </div>
	    </div>
	<div class="price-table-button-holder">
        <a class="btn btn-info btn-block btn-get-now-pd" href="{{item.item_link}}" target="_blank">
        	GET NOW
        </a>
    </div>	
	</div>
{%endblock%}