{% extends 'page/base.html' %}

{% block body %}

    <div class="jumbotron">
        <div class="container text-center">
             <h1 class="page-header">PRODUCT DETAILS</h1>
        <p class="lead">More details about the product</p>
        </div>
	</div>

    <div class="container">
	    <div class="row">
			<div class="col-md-4 well pricing-table">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="{{ item.pic }}" class="img-responsive img-circle" alt="">
	                    <h3> </h3>
	                    <p class="caption">
	                        {{ item.title }}
	                    </p>
	                </center>
	            </div>
	            <div class="pricing-feature-list">
	                <ul class="list-group">
                      <li class="list-group-item">E-commerce: {{ item.page }}</li>
                      <li class="list-group-item">Price: {{ item.price }}</li>
                      <li class="list-group-item">Shipping: {{ item.shipping }}</li>
                      <li class="list-group-item">Condition: {{ item.condition }}</li>
                      <li class="list-group-item">Overall rating: {{ item.rating }}/5</li>
                      <li class="list-group-item">Seller rating: {{ item.seller_rate }}</li>
                      <li class="list-group-item">Details: {{ item.detail }}</li>
                      <li class="list-group-item">Feedback from customers: </li>
                        {% for feedback in item.feedback_set.all %}
                        <ul class="list-group">
                          <li class="list-group-item">Rating: {{ feedback.rating }}</li>
                          <li class="list-group-item">Comment: {{ feedback.comment }}</li>
                        </ul>
                        {% endfor %}
                    </ul>
	            </div>
	            <div class="price-table-button-holder">
                    <a class="btn btn-info btn-block" href="{{item.item_link}}">
	                    GET NOW
	                </a>
	            </div>
	        </div>
	    </div>
	</div>
{%endblock%}