{% extends 'page/base.html' %}

{% block body %}
    <div class="jumbotron">
        <div class="container text-center">
             <h1 class="page-header">COMPARISON TABLE</h1>
        <p class="lead">Comparison result between 3 product from different sites</p>
        </div>
	</div>

	<div class="container ">
	    <div class="row">
			{% for item in item1 %}
			<div class="col-md-4 well pricing-table">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="{{ item.pic }}" class="img-responsive img-circle img-circle-fixed" alt="">
	                </center>
	            </div>
	            <div class="caption text-center">
	                <p class="font-bold align-middle">{{ item.title }}</p>
	            </div>
	            <div class="pricing-feature-list">
	                <ul class="list-group">
                      <div class="block-main ecomm-style"><li class="list-group-item"><i class="fa fa-shopping-cart"></i> E-commerce:<br><span class="regular-font">{{ item.page }}</span></li></div>
                      <div class="block-main price-style"><li class="list-group-item"><i class="fa fa-usd"></i> Price:<br><span class="regular-font">{{ item.price }}</span></li></div>
                      <div class="block-main condition-style"><li class="list-group-item"><i class="fa fa-bolt"></i> Condition:<br><span class="regular-font">{{ item.condition }}</span></li></div>
                      <div class="block-main avg-style"><li class="list-group-item"><i class="fa fa-bar-chart"></i> Average rating:<br><span class="regular-font">{{ item.rating }}</span></li></div>
                      <div class="block-main sellrate-style"><li class="list-group-item"><i class="fa fa-user"></i> Seller rating:<br><span class="regular-font">{{ item.seller_rate }}</span></li></div>
					  <div class="block-main ship-style"><li class="list-group-item"><i class="fa fa-truck"></i> Shipping:<br><span class="regular-font">{{ item.shipping }}</span></li></div>
                      <div class="block-main details-style"><li class="list-group-item"><i class="fa fa-list-alt"></i> Details:<br><span class="regular-font">{{ item.detail }}</span></li></div>
                      <div class="feedback-style"><li class="list-group-item"><i class="fa fa-users"></i> Feedback from customers :</li> </div>
                        {% for feedback in item.feedback_set.all %}
                        <ul>
                        	<li class="list-group-item regular-font">- {{feedback.comment}}</li>
                        </ul>
                        {% endfor %}
                    </ul>

	            </div>
	            <div class="price-table-button-holder">
                    <a class="btn btn-info btn-block btn-get-now" href="{{item.item_link}}" target="_blank">
	                    GET NOW
	                </a>
	            </div>
	        </div>
			{% endfor %}
	    </div>
	</div>
{% endblock %}