{% extends 'page/base.html' %}

{% block body %}
    <div class="container padding-kit">
        {% if all_page %}
        <form method="POST" action="{% url 'search:specs' %}">
        {% csrf_token %}
        {% for page in all_page %}
        <div class="row">
            <h1> {{ page.info }}</h1>
            <div class="well">
            {% for item in page.searchitem_set.all %}
            <div class="list-group">
              <!-- Trigger the modal with a button -->
              <a href="/search/{{item.item_id}}" class="list-group-item active">
                    <div class="media col-lg-2 test-div">
                        <figure class="pull-left">
                            {% load static %}
                            <img class="media-object img-rounded img-responsive img-pointer" src="{{ item.pic }}" data-toggle="modal" data-target="#product-review">
                        </figure>
                    </div>
                    <div class="col-md-8 test-div">
                        <p class="text-left font-in-search">{{ item.title }}</p>
                        <p class="list-group-price">{{ item.price }}</p>
                        <p class="list-group-item-text">{{item.condition}}</p>
                    </div>
                    <div class="col-md-2 text-center content-rating test-div font-in-search">
                        <p class="font-in-search text-uppercase"> Rating </p>
                            <div class="stars">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        <!--<p> Average {{item.comment}} <small> / </small> {{item.rating}} </p>-->
                        <p> {{item.rating}} out of 5 </p>
                        <p class="cb-ins"> Tick to compare <span><input class="pull-left checkbox-compare" type="checkbox" id="items" name="compare" value="{{ item.item_id }}"></span></p>
                    </div>
              </a>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
        <a href="http://127.0.0.1:8000/search/compare"><input type="submit" name="submit" value="Compare Selected Product" class="btn btn-default btn-lg btn-block btn-compare"></a>
        </form>
        {% else %}
        <h1> No Page to crawl </h1>
        {% endif %}
    </div>
    <!--Fixed up button-->
    <a href="#top" class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-chevron-up"></i></a>
    <!--end of Fixed up button-->
    </body>
    </html>
{% endblock %}